<section id="sobre-mi">
  <article class="max-w-7xl px-4 pt-48 mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-white">Sobre mí</h2>
    <div class="flex flex-col md:flex-row gap-16">
      <div
        class="[&>p]:text-balance
        [&>p]:mb-3
        [&>p>strong]:text-secondary-200/90
        [&>p>strong]:font-normal"
      >
        Me encanta compartir mis pensamientos a través de la tecnología, los
        gatos, las guitarras y los pepinos... grandes, gruesos y jugosos.
        <p>
          Me llamo Mariano, aunque también soy conocido como <strong
            >catador de trabucos</strong
          >
          y, en ocasiones, como Dot Dager. Comencé en la programación porque... no
          me acuerdo... che tenía hambre no me juzgues. Actualmente, trabajo <strong
            >liderando equipos de desarrollo.</strong
          >
        </p>
        <p>
          Me apasionan la programación, la filosofía y todo lo relacionado con
          la creación de contenido.
        </p>
        <p>
          Me encanta compartir mis pensamientos a través de la tecnología, los
          gatos, las guitarras y los <strong
            class="hover:text-secondary-400 transition"
            >pepinos... grandes, gruesos y jugosos.
          </strong>
        </p>
        <p class="font-meow-script mt-8 text-4xl text-secondary-200/80">
          Dot Dager
        </p>
      </div>

      <img
        src="/img/avatar.webp"
        alt=""
        class="object-cover w-64 h-full p-1
          mx-auto md:mr-4
          rotate-3 lg:p-2 lg:w-64
          aspect-square rounded-2xl
          bg-secondary-200/10 ring-2
          ring-white/20"
      />
    </div>
  </article>
</section>
