<section id="sobre-mi">
  <article class="max-w-7xl px-4 pt-48 mx-auto">
    <h2 class="text-2xl font-semibold mb-4 text-white">Sobre mí</h2>
    <div class="flex flex-col md:flex-row gap-16">
      <div
        class="[&>p]:text-balance
        [&>p]:mb-3
        [&>p>strong]:text-secondary-200/90
        [&>p>strong]:font-normal"
      >
        <p>
          Me llamo Mariano, también soy conocido como <strong
            >catador de trabucos</strong
          > y a veces como Dot Dager. Empecé en la programación porque... no me acuerdo...
          che tenía hambre no me juzgues. Actualmente estoy <strong
            >liderando equipos de desarrollo.</strong
          >
        </p>
        <p>
          Me apasiona la programación, la filosofía y todo lo relacionado con la
          creación de contenido.
        </p>
        <p>
          Me encanta compartir mis pensamientos a través de la tecnología, los
          gatos, las guitarras y los <strong class="hover:text-secondary-400 transition"
            >pepinos... grandes... gruesos... jugosos...
          </strong>
        </p>
      </div>
      <img
        src="/img/avatar.webp"
        alt=""
        class="object-cover w-64 h-full p-1
          mx-auto md:mr-4
          rotate-3 lg:p-2 lg:w-64
          aspect-square rounded-2xl
          bg-secondary-200/10 ring-2
          ring-white/20"
      />
    </div>
  </article>
</section>
