<section id="destacado">
  <article class="max-w-7xl px-4 pt-24 mt-24 mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-white">Destacado</h2>

    <ul>
      <li>
        <h2>Redes Sociales:</h2>
        <p></p>
      </li>
      <li>
        <h2>Proyectos o Videos:</h2>
        <p></p>
      </li>
    </ul>
  </article>
</section>
