<section id="destacado" class="h-[800px]">
  <div class="max-w-7xl px-4 py-3 mx-auto">
    <ul>
      <li>
        <h2>Redes Sociales:</h2>
        <p>
          Íconos grandes de tus redes sociales (Instagram, YouTube, Twitter,
          etc.), con un mensaje tipo: "Sígueme para más contenido sobre
          programación, filosofía y más."
        </p>
      </li>
      <li>
        <h2>Proyectos o Videos:</h2>
        <p>
          Si tienes videos de YouTube, artículos de blog o cualquier otro
          contenido que quieras mostrar, podrías agregar un pequeño bloque donde
          los usuarios puedan hacer clic para ver más. Algo así: "Explora mi
          último video sobre filosofía y programación."
        </p>
      </li>
    </ul>
  </div>
</section>
