---
import GithubIcon from "../icons/GithubIcon.astro";
---

<footer>
	<div class="max-w-7xl px-4 pt-24 mt-24 pb-16 mx-auto">
		<p class="text-sm flex items-center">
			© 2024 - creado por:
			<a
				href="https://github.com/DiegoAlessandroMotta"
				target="_blank"
				referrerpolicy="no-referrer"
				class="p-2 w-fit rounded-md hover:shadow text-white/60 hover:text-white transition inline-block"
			>
				<GithubIcon class="size-6" />
			</a>
		</p>
	</div>
</footer>
