<footer id="contacto">
  <div class="max-w-7xl px-4 pt-24 mt-24 pb-16 mx-auto">
    Dot Dager
    <div>https://tbot.xyz/lumber/</div>
    <!-- <iframe src="https://tbot.xyz/lumber/" class="w-full h-[800px]"></iframe> -->
    <!-- <iframe title="Lumber Jack Game" src="https://tbot.xyz/lumber/" width="600"height="900"></iframe> -->
  </div>
</footer>
