<header class="w-dvw flex justify-center items-center gap-8 fixed top-0 z-30">
  <div class="max-w-7xl px-4 py-3 mx-auto flex">
    <nav
      class="px-2 w-fit
        border border-white/10
        hover:border-white/20
        rounded-full
        backdrop-blur-sm
        hover:backdrop-blur
        hover:bg-white/5
        transition shadow-md"
    >
      <ul
        class="hidden md:flex flex-wrap
        items-center font-semibold
        text-zinc-300 text-sm
        [&>li>a]:decoration-transparent
        [&>li>a]:after:w-full
        [&>li>a]:after:h-[2px]
        [&>li>a]:after:block
        [&>li>a]:after:rounded-full
        [&>li>a]:after:bg-transparent
        [&>li>a]:after:transition
        [&>li>a]:after:duration-300
        [&>li>a:hover]:after:bg-white
        [&>li>a:hover]:text-white
        [&>li]:contents [&>li>a]:inline-block [&>li>a]:rounded
        [&>li>a]:px-4 [&>li>a]:py-2
        [&>li>a]:transition"
      >
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre-mi">Sobre mí</a></li>
        <li><a href="#intereses">Intereses</a></li>
        <li><a href="#destacado">Destacado</a></li>
        <li><a href="#contacto">Contáctame</a></li>
      </ul>
    </nav>
  </div>
</header>
