<section id="intereses" class="h-[800px]">
  <div class="max-w-7xl px-4 py-3 mx-auto">
    <p>
      <ul>
        <li>
          Guitarra: "Me encanta tocar la guitarra, un refugio creativo que me
          ayuda a desconectar y expresarme."
        </li>
        <li>
          Gatos: "Si alguna vez me encuentras rodeado de gatos, ¡será un buen
          día!"
        </li>
        <li>
          Filosofía:"El pensamiento profundo y la reflexión son esenciales para
          mi proceso creativo."
        </li>
        <li>
          Pepinillos: "Siempre encuentro un buen pepinillo como el snack
          perfecto."
        </li>
      </ul>
    </p>
  </div>
</section>
